@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*

  breakponit(xs){
    si xs es igual a xs 
        => Ejecuta el media query 

 }
*/
@media only screen and (min-width: 0) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: 0 0.5rem;
  }
}

@media only screen and (min-width: 0) {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
  }
}

/*
    de PX a REM
    1rem ----> 16px
    X          5px
*/
.col-1 {
  width: 8.3333333333%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-2 {
  width: 16.6666666666%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-3 {
  width: 24.9999999999%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

@media only screen and (min-width: 0) {
  .col-4 {
    width: 99.9999999996%;
  }
}
@media only screen and (min-width: 768px) {
  .col-4 {
    width: 33.3333333332%;
    height: auto;
    overflow: hidden;
    padding: 0rem 0.5rem;
  }
}

.col-5 {
  width: 41.6666666665%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-6 {
  width: 49.9999999998%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-7 {
  width: 58.3333333331%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-8 {
  width: 66.6666666664%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-9 {
  width: 74.9999999997%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-10 {
  width: 83.333333333%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-11 {
  width: 91.6666666663%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

.col-12 {
  width: 99.9999999996%;
  height: auto;
  overflow: hidden;
  padding: 0rem 0.5rem;
}

@media only screen and (min-width: 0) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 0) {
  body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: #DEDEDE;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@media only screen and (min-width: 0) {
  .card {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E3E3E3;
    border-top: 4px solid #707070;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    width: 100%;
    height: auto;
    margin: 0 0 1rem 0;
    padding: 1rem 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #000, #353535);
    border-top: none;
  }
}
.card__icon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5C5C5C;
  border: 0.3rem solid #F2F221;
}
.card__icon i {
  font-size: 40px;
  color: #F2F221;
}
.card__title {
  font-size: 28px;
  margin: 0.5rem 0;
  font-weight: 400;
}
.card__parrafo {
  max-width: 80%;
  margin-bottom: 2rem;
  font-weight: 400;
  line-height: 140%;
}

.nav {
  width: 100%;
  height: auto;
  background-color: #000;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 0) {
  .nav__lista {
    list-style: none;
    display: block;
    margin: 0.5rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .nav__lista {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem 0;
  }
}
.nav__lista li:first-child a {
  font-size: 4.5rem;
  color: #F2F221;
  border-right: none;
  border-bottom: none;
  text-align: center;
}
.nav__lista li:last-child a {
  border-right: none;
  border-bottom: none;
}
@media only screen and (min-width: 0) {
  .nav__lista li a {
    color: #F2F221;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 1rem;
    border-bottom: 1px solid rgba(242, 242, 33, 0.6);
    border-right: none;
    font-size: 1rem;
    text-align: left;
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .nav__lista li a {
    color: #F2F221;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 1rem;
    border-bottom: none;
    border-right: 1px solid #F2F221;
  }
}

@media only screen and (min-width: 0) {
  .header {
    width: 100%;
    height: 140px;
    background-color: #F2F221;
    border-radius: 0;
    margin: 12rem 0 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
    height: 300px;
    background-color: #808080;
    border-radius: 1rem;
    margin: 6rem 0 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 0) {
  .header__title {
    font-size: 30px;
    font-weight: 700;
    color: #5A5D08;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
  }
}
@media only screen and (min-width: 0) {
  .header__title--light {
    font-size: 18px;
    font-weight: 400;
    color: #5A5D08;
    margin: 1rem 0;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 768px) {
  .header__title--light {
    font-size: 40px;
    font-weight: 200;
    color: #fff;
    margin: 1rem 0;
    border-bottom: none;
    text-transform: none;
  }
}

.footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #000;
  text-align: center;
}
.footer__text {
  color: #F2F221;
  margin: 1rem 0;
  font-weight: 400;
  font-size: 16px;
}

.brand-wrapper.santiago {
  position: relative;
}

.santiago .head-sponsor {
  margin-bottom: 70px;
}

.brand-wrapper.santiago:after {
  content: "<img src='/resizer/b4TgrKoXRHalRmLhtOn-F_Kv_OM=/arc-photo-metroworldnews/arc2-prod/public/IJZH3Y7GNZGCJP3FNSQOGE5OT4.png' alt='Olimpiadas París 2024'>";
  width: 340px;
  height: 200px;
  /* background-color: red; */
}

.brand-wrapper.santiago img:first-child {
  border-radius: none;
  border: none;
}

.brand-wrapper.santiago img {
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.368627451);
}

.santiago .top-table-list-section-medium hr {
  background-color: rgba(231, 235, 231, 0.389);
}

.santiago .medium-promo .medium-promo-wrapper {
  clear: both;
  content: "";
  display: table;
  width: 100%;
}/*# sourceMappingURL=main.css.map */