/*

  breakponit(xs){
    si xs es igual a xs 
        => Ejecuta el media query 

 }
*/

@mixin breakpoint( $media ) {

      @if $media == xs {
  
        @media only screen and (min-width: $screen-xs-min) { @content; }
      
      }
  
      @else if $media == sm {
        @media only screen and (min-width: $screen-sm-min) { @content; }
      }
  
      @else if $media == md {
        @media only screen and (min-width: $screen-md-min) { @content; }
      }
  
      @else if $media == lg {
        @media only screen and (min-width: $screen-lg-min) { @content; }
      }
  
  }
  
  @mixin vertical-gradient( $start-color, $end-color ) {
      background: linear-gradient(to top, $start-color, $end-color);
  }

  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }