@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

// Paleta de color

$white:#fff;
$blue:#075893;
$blue-deep:#00193B;
$grey:#BFBFBF;
$black-90:#131313;

// FONT
$roboto:"Roboto", sans-serif;
$oswald:"Oswald", sans-serif;
$roboto-bold:700;
$roboto-regular:400;
$roboto-extra-light:200;

// FONT SIZE
$font-size-xxx-large:100px;
$font-size-xx-large:65px;
$font-size-x-large:24px;
$font-size-normal:16px;
$font-size-small:14px;


// ANCHO DE MEDIA QUERY
$screen-xs-min: 0;
$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

// ANCHO DE SCREEN
$max-width-70:70%;
$max-width-60:60%;
$max-width-100:100%;
$width-col:8.3333333333%;